body {
  color: #212121;
  font-family: Roboto, sans-serif;
  font-style: normal;
}

ul {
  list-style: none;
}

p,
ul,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

img {
  display: block;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section.hero {
  padding-top: 118px;
  padding-bottom: 118px;
}

.section.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .section.no-bottom-padding {
    padding-bottom: 0;
  }
  .section.hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.form * {
  outline: none;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 320px) {
  .container {
    max-width: 480px;
    margin: 0 auto;
  }
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .header .container {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
  .header .container {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 320px) {
  .logo {
    font-size: 24px;
    line-height: 1.167;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.193;
  }
}

@media screen and (max-width: 767px) {
  .mobile-menu-btn {
    top: 10px;
    right: 15px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
  }
  .mobile-menu-btn .icon-cross {
    display: none;
  }
  .mobile-menu-btn.is-open .icon-cross {
    display: block;
  }
  .mobile-menu-btn.is-open .icon-burger {
    display: none;
  }
  .mobile-menu-btn:hover, .mobile-menu-btn:focus {
    fill: #2196f3;
  }
  .menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
  .menu-container.is-open {
    display: block;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }
  .menu-container {
    display: flex;
    align-items: center;
  }
}

.project-filter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .project-filter {
    justify-content: center;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .project-filter {
    margin-bottom: 25px;
  }
}

.project-filter-item:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 15px;
}

.projects-button {
  padding: 6px 22px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  border: transparent;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-button:hover, .projects-button:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.section-title {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.178;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
}

.form-title {
  text-align: center;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1199px) {
  .form-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.03em;
  }
}

.hero-title {
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (max-width: 1199px) {
  .hero-title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.615;
    letter-spacing: 0.06em;
  }
}

.features-title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .features-title {
    text-align: center;
  }
}

.whatwedo-title {
  position: absolute;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 370px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  background-color: rgba(47, 48, 58, 0.8);
}

.project-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.footer-title {
  padding-top: 5px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.social-links {
  display: flex;
  justify-content: center;
}

.social-links li:not(:last-child) {
  margin-right: 10px;
}

.social-links-footer {
  display: flex;
}

.social-links-footer li:not(:last-child) {
  margin-right: 10px;
}

.social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.white .social-item {
  fill: #afb1b8;
}

.dark .social-item {
  fill: #fff;
  background-color: rgba(255, 255, 255, 0.1);
}

.social-item:hover, .social-item:focus {
  background-color: #2196f3;
  fill: #fff;
}

.footer-form-input {
  width: 100%;
  height: 50px;
  padding-left: 16px;
  margin-bottom: 20px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
}

@media screen and (min-width: 480px) {
  .footer-form-input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form-input {
    width: 358px;
    margin-right: 12px;
  }
}

.footer-form-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-input:focus {
  border: 1px solid #2196f3;
}

.submit-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  background: #2196f3;
  border: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .submit-btn {
    display: flex;
    margin: 0 auto;
  }
}

.submit-btn::after {
  content: "";
  margin-left: 9px;
  width: 24px;
  height: 24px;
  background-image: url(../images/icon-send.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.header {
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 320px) {
  .header {
    position: relative;
  }
  .header .navigation-list {
    margin-bottom: 60px;
  }
  .header .navigation-list-item:not(:last-child) {
    margin-bottom: 40px;
    position: relative;
  }
  .header .header-nav-link {
    position: relative;
    display: inline-block;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.167;
    letter-spacing: 0.02em;
    color: #212121;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header .header-nav-link:hover, .header .header-nav-link:focus {
    color: #2196f3;
    fill: #2196f3;
  }
  .header .header-nav-link.current {
    color: #2196f3;
  }
  .header .header-nav-link.current::after {
    position: absolute;
    bottom: -8px;
    display: block;
    content: "";
    color: #2196f3;
    background-color: #2196f3;
    width: 100%;
    height: 4px;
    border-radius: 2px;
  }
  .header .contact-list-item:not(:last-child) {
    margin-bottom: 16px;
  }
  .header .contact-list-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.167;
    letter-spacing: 0.02em;
    color: #757575;
    fill: #757575;
  }
  .header .contact-list-link:hover, .header .contact-list-link:focus {
    color: #2196f3;
    fill: #2196f3;
  }
}

@media screen and (min-width: 768px) {
  .header .navigation-list {
    display: flex;
    margin-bottom: 0;
    margin-right: 84px;
  }
  .header .navigation-list-item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 50px;
  }
  .header .header-nav-link {
    font-size: 14px;
    line-height: 1.143;
  }
  .header .header-nav-link.current::after {
    bottom: -32px;
  }
  .header .contact-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .header .contact-list-item:not(:last-child) {
    margin-bottom: 10px;
  }
  .header .contact-list-link {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.167;
  }
  .header .icon-envelope {
    margin-right: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .header .navigation-list {
    margin-right: 305px;
  }
  .header .contact-list {
    flex-direction: row;
  }
  .header .contact-list-item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 30px;
  }
  .header .contact-list-link {
    font-size: 14px;
    line-height: 1.143;
  }
}

.projects-gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.project-container {
  position: relative;
  width: 450px;
  margin: 15px;
  background: #ffffff;
}

@media screen and (min-width: 768px) {
  .project-container {
    width: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .project-container {
    width: calc((100% - 3 * 30px) / 3);
  }
}

.project-container:hover, .project-container:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-card {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.project-type {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}

.project-thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(33, 150, 243, 0.9);
  visibility: hidden;
  pointer-events: none;
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-container-link:hover .overlay,
.project-container-link:focus .overlay {
  transform: translateY(-100%);
  visibility: visible;
  pointer-events: auto;
}

.project-description {
  padding: 77px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .project-description {
    padding: 49px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .project-description {
    padding: 63px 24px;
  }
}

.footer-contacts,
.joinus {
  text-align: center;
  width: 100%;
  margin-bottom: 60px;
}

.subscribe {
  text-align: center;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footer-contacts,
  .joinus {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    flex-wrap: nowrap;
  }
  .footer-contacts,
  .joinus,
  .subscribe {
    width: fit-content;
    text-align: left;
    margin-bottom: 0;
  }
  .footer-contacts {
    margin-right: 20px;
  }
  .joinus {
    margin-right: auto;
  }
}

.footer {
  background-color: #2f303a;
}

.footer address {
  margin-top: 20px;
}

.footer address li:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .footer address li {
    margin-bottom: 9px;
  }
  .footer address li:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer-contact-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-contact-non-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
/*# sourceMappingURL=portfolio.css.map */