.features-list {
  margin: -15px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }

  &-item {
    @media screen and (max-width: 767px) {
      margin-right: 15px;
      margin-left: 15px;

      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    @media screen and (min-width: 768px) {
      margin: 15px;
      width: calc((100% - 2 * 30px) / 2);
    }
    @media screen and (min-width: 1200px) {
      width: 270px;
    }

    &::before {
      display: block;
      content: "";
      height: 120px;
      background-color: #f5f4fa;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 4px;
    }
  }
}

.icon-anthena::before {
  background-image: url(../images/antenna.svg);
}

.icon-clock::before {
  background-image: url(../images/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}

.features-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}
