.header {
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 320px) {
  .header {
    position: relative;

    .navigation-list {
      margin-bottom: 60px;
    }
    .navigation-list-item:not(:last-child) {
      margin-bottom: 40px;
      position: relative;
    }
    .header-nav-link {
      position: relative;
      display: inline-block;
      font-weight: 500;
      font-size: 18px;
      line-height: 1.167;
      letter-spacing: 0.02em;
      color: #212121;
      transition-property: color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus {
        color: #2196f3;
        fill: #2196f3;
      }

      &.current {
        color: #2196f3;

        &::after {
          position: absolute;
          bottom: -8px;
          display: block;
          content: '';

          color: #2196f3;
          background-color: #2196f3;
          width: 100%;
          height: 4px;
          border-radius: 2px;
        }
      }
    }

    .contact-list-item:not(:last-child) {
      margin-bottom: 16px;
    }

    .contact-list-link {
      font-weight: 500;
      font-size: 18px;
      line-height: 1.167;
      letter-spacing: 0.02em;
      color: #757575;
      fill: #757575;

      &:hover,
      &:focus {
        color: #2196f3;
        fill: #2196f3;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .header {
    .navigation-list {
      display: flex;
      margin-bottom: 0;
      margin-right: 84px;

      &-item:not(:last-child) {
        margin-bottom: 0;
        margin-right: 50px;
      }
    }

    .header-nav-link {
      font-size: 14px;
      line-height: 1.143;

      &.current::after {
        bottom: -32px;
      }
    }

    .contact-list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    .contact-list-item:not(:last-child) {
      margin-bottom: 10px;
    }
    .contact-list-link {
      display: flex;
      align-items: center;
      font-size: 12px;
      line-height: 1.167;
    }

    .icon-envelope {
      margin-right: 8px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .header {
    .navigation-list {
      margin-right: 305px;
    }

    .contact-list {
      flex-direction: row;
    }

    .contact-list-item:not(:last-child) {
      margin-bottom: 0;
      margin-right: 30px;
    }
    .contact-list-link {
      font-size: 14px;
      line-height: 1.143;
    }
  }
}
