.social-links {
  display: flex;
  justify-content: center;

  li:not(:last-child) {
    margin-right: 10px;
  }
}

.social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .white-theme & {
    fill: #afb1b8;
  }

  .dark-theme & {
    fill: #fff;
    background-color: rgba(255, 255, 255, 0.1);
  }

  &:hover,
  &:focus {
    background-color: #2196f3;
    fill: #fff;
  }
}
