.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 320px) {
  .container {
    max-width: 480px;
    margin: 0 auto;

    .header & {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      padding-top: 16px;
      padding-bottom: 16px;
    }
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;

    .header & {
      padding-top: 21px;
      padding-bottom: 21px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;

    .header & {
      padding-top: 24px;
      padding-bottom: 25px;
    }
  }
}
